# ===== PostgreSQL =====
DB_USERNAME=changeme
DB_PASSWORD=changeme
DB_NAME=changeme

# ===== Redis =====
REDIS_PASSWORD=changeme

# ===== MinIO =====
MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme
MINIO_ACCESS_KEY=changeme
MINIO_SECRET_KEY=changeme

# ===== Backend =====
KEYSTORE_PASSWORD=changeme
VSEC_SERVER_SECRET=changeme
MAIL_USERNAME=changeme@example.com
MAIL_PASSWORD=changeme
