# ===== PostgreSQL =====
DB_USERNAME=vsec
DB_PASSWORD=vsec123
DB_NAME=vsec_storage

# ===== Redis =====
REDIS_PASSWORD=vsec_redis

# ===== MinIO =====
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# ===== Backend =====
KEYSTORE_PASSWORD=vsec123
VSEC_SERVER_SECRET=vsec-server-secret-dev
MAIL_USERNAME=dev@vsec.local
MAIL_PASSWORD=dev
